.business-header {
    min-width: 1280px;
    height: 70px;
    background-color: black;

}

.business-sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);

}

.business-filter{
    width: 200px;
    margin-top: 15px;
}

.business-container {
    margin-left: 200px;
    min-width: 1280px;
    padding-top: 30px;
}

.business-account {
    height: 120px;
}

.business-account img {
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.business-account h1 {
    height: 70px;
    width: 80px;
    margin: auto;
    margin-top: 10px;
}

.business-dashboard-analytic {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.business-dashboard-analytic-card {
    width: 23%;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}

.business-dashboard-analytic-chart-60 {
    width: 59%;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    padding: 10px;
}

.business-dashboard-analytic-chart-40 {
    width: 39%;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    padding: 10px;
}

.business-dashboard-analytic-card-body {
    height: 100px;
    padding: 20px;
}

.business-dashboard-analytic-card-footer {
    height: 50px;
    border-radius: 0 0 5px 5px;
}

.gradient-red {
    opacity: 1;
    background-image: linear-gradient(to left, #F98080, #E02424);
}

.gradient-green {
    opacity: 1;
    background-image: linear-gradient(to left, #31C48D, #057A55);
}

.gradient-blue {
    opacity: 1;
    background-image: linear-gradient(to left, #8DA2FB, #5850EC);
}

.gradient-purple {
    opacity: 1;
    background-image: linear-gradient(to left, #AC94FA, #7E3AF2);
}

.business-product {
    margin: auto;
    width: 95%;
    min-height: 92vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    padding: 20px;
}
.hide {
    display: none;
}

.business-product-list{
    height: 480px;
}

.business-product-search {
    width: 40%;
}

.business-product-filter {
    margin-top: 15px;
    width: 15%;
}

.business-product-title {
    margin-top: 20px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.business-product-title p {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.business-product-title p:nth-child(1) {
    width: 15%;
}
.business-product-title p:nth-child(2) {
    width: 30%;
}
.business-product-title p:nth-child(3) {
    width: 15%;
}
.business-product-title p:nth-child(4) {
    width: 10%;
}
.business-product-title p:nth-child(5) {
    width: 10%;
}
.business-product-title p:nth-child(6) {
    width: 10%;
}


.business-product-store {
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.business-product-store:hover{

    background-color: #F3F4F6;
}

.business-product-store p {
    text-align: center;
    margin: auto;
}

.business-product-store img{
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: auto;
    object-fit: scale-down;
}

.business-product-store p:nth-child(1) {
    width: 15%;
}
.business-product-store p:nth-child(2) {
    width: 30%;
}
.business-product-store p:nth-child(3) {
    width: 15%;
}
.business-product-store p:nth-child(4) {
    width: 10%;
}
.business-product-store p:nth-child(5) {
    width: 10%;
}
.business-product-store p:nth-child(6) {
    width: 10%;
}

.business-action{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin-left: -90px;
    margin-top: -70px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    border-color: #D1D5DB;
    border-width: 1px;
    z-index: 20;
    animation: show-action 0.25s;
}

@keyframes show-action{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.business-product-store button{
    margin-top: 7px;
}


.business-add-product {
    position: relative;
    margin: auto;
    width: 95%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    padding: 20px;
}
.business-add-product form{
    margin-left: 10px;
}

.business-add-info-product{
    width: 50%;
}
.business-add-image-product{
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-style: dashed;
    border-color: #D1D5DB;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
}
.business-add-image-product img{
    margin: auto;
    width: 190px;
    height: 190px;
    object-fit: scale-down;
}
.business-add-product-input{
    margin-bottom: 10px;
    width: 50%;
    margin-right: 10px;
}

.business-add-product-textarea{
    margin-bottom: 10px;
    width: 50%;
    margin-right: 10px;
}

.business-add-product-button{
    margin-top: 10px;
}

.business-layout-button{
    display: flex;
    justify-content: center;
}

.business-add-product-button-form{
    display: flex;
    justify-content: center;
}

.business-transaction-title {
    margin-top: 20px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.business-transaction-title p {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.business-transaction-title p:nth-child(1) {
    width: 20%;
}
.business-transaction-title p:nth-child(2) {
    width: 25%;
}
.business-transaction-title p:nth-child(3) {
    width: 20%;
}
.business-transaction-title p:nth-child(4) {
    width: 15%;
}
.business-transaction-title p:nth-child(5) {
    width: 20%;
}

.business-transaction {
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.business-transaction:hover{

    background-color: #F3F4F6;
}

.business-transaction p {
    text-align: center;
    margin: auto;
}

.business-transaction img{
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: auto;
    object-fit: cover;
}

.business-transaction p:nth-child(1) {
    width: 20%;
}
.business-transaction p:nth-child(2) {
    width: 25%;
}
.business-transaction p:nth-child(3) {
    width: 20%;
}
.business-transaction p:nth-child(4) {
    width: 15%;
}
.business-transaction p:nth-child(5) {
    width: 20%;
}

/* modal */

.business__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.hide {
    display: none;
}

.business__modal__inner {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 10px auto;
}

@keyframes showModal {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.business__modal__header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
}

.business__modal__body {
    padding: 15px;
}

.business__modal__footer {
    padding: 15px;
    text-align: right;
}

.business__modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

i {
    cursor: pointer;
    font-size: 18px;
}

.animate-infinite{
    animation: spin 3s linear infinite;
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}


.list-product-order p:nth-child(1){
    width: 40%;
    text-align: center;
    background-color: rgb(215, 213, 213);
    border: 2px solid rgb(183, 183, 183);
}
.list-product-order p:nth-child(2){
    width: 20%;
    text-align: center;
    background-color: rgb(215, 213, 213);
    border-top: 2px solid rgb(183, 183, 183);
    border-bottom: 2px solid rgb(183, 183, 183);
    border-right: 2px solid rgb(183, 183, 183);
}
.list-product-order p:nth-child(3){
    width: 20%;
    text-align: center;
    background-color: rgb(215, 213, 213);
    border-top: 2px solid rgb(183, 183, 183);
    border-bottom: 2px solid rgb(183, 183, 183);
    border-right: 2px solid rgb(183, 183, 183);
}
.list-product-order p:nth-child(4){
    width: 20%;
    text-align: center;
    background-color: rgb(215, 213, 213);
    border-top: 2px solid rgb(183, 183, 183);
    border-bottom: 2px solid rgb(183, 183, 183);
    border-right: 2px solid rgb(183, 183, 183);
}

.list-product-order div:nth-child(1){
    width: 40%;
    padding-left: 10px;
    
    border: 1px solid rgb(183, 183, 183);
}
.list-product-order div:nth-child(2){
    width: 20%;
    text-align: center;
    
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
}
.list-product-order div:nth-child(3){
    width: 20%;
    text-align: center;
    
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
}
.list-product-order div:nth-child(4){
    width: 20%;
    text-align: center;
    
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
}

.list-product-order span:nth-child(1){
    width: 80%;
    text-align: right;
    padding-right: 10px;
    
    border: 1px solid rgb(183, 183, 183);
}
.list-product-order span:nth-child(2){
    width: 20%;
    text-align: center;
    
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
}


.min-width-550{
    min-height: 43rem;
}


.business-order-action{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.order-info{
    width: 40%;
}

.loading{
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: gray;
    opacity: 0.6;
    z-index: 201;
}

.loading div{
    margin: auto;
    margin-top: 300px;
}


.business-position{
    display: flex;
    justify-content: space-between;
}

.business-position p{
    width: 20%;
}

.business-position input{
    width: 30%;
}

.button-update{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.business-map{
    width: 100%;
    height: 350px;
}