.checkout-container {
    display: flex;
    min-height: 560px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.108);
    animation: checkout-change 0.25s;
}

@keyframes checkout-change {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes re-change {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.checkout-list-product {
    border-radius: 10px;
    width: 98%;
    background-color: #f7f7f7;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout-product {
    width: 69%;
    margin-right: 15px;
    border-radius: 10px;
    height: auto;
}

.checkout-invoice {
    width: 30%;
    height: 200px;
}

.checkout-line {
    height: 1px;
    background-color: rgba(0, 0, 255, 0.108);
    margin-bottom: 10px;
}

.checkout-invoice-address {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    height: 280px;
    background-color: #f7f7f7;
}

.checkout-invoice-payment {
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

.checkout-total {
    display: flex;
    justify-content: space-between
}

.checkout-title {
    margin: auto;
    height: 50px;
    width: 98%;
    display: flex;
    background-color: #f7f7f7;
    flex-wrap: nowrap;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.checkout-invoice h5 {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-invoice button {
    width: 100%;
}

/* modal */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.hide {
    display: none;
}

.modal__inner {
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 200px auto;
}

@keyframes showModal {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal__header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
}

.modal__body {
    padding: 15px;
}

.modal__body h2 {
    margin-bottom: 10px;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

i {
    cursor: pointer;
    font-size: 18px;
}

.animate-infinite{
    animation: spin 3s linear infinite;
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}