.map-store-container{
    display: flex;
    margin: auto;
}

.map-store-container img{
    margin: auto;
    max-width: 70px;
    max-height: 70px;
    margin-right: 20px;
}

.leaflet-popup-content-wrapper{
    width: 250px;
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}