.product-container {
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
}

@keyframes comeInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes comeInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}


.product-recommend {
    width: 100%;
    height: 300px;
    background-color: aquamarine;
}

.review-product {
    width: 100%;
}

.product-detail-image {
    width: 60%;
}

.product-detail-info {
    width: 40%;
}

.product-image {
    width: 280px;
    height: 320px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 7px;
    margin-top: 30px;
}


.slide-image {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    /* position: absolute; */
    /* margin-left: 265px; */
    margin-top: 10px;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(47, 49, 49, 0.182);
}

.slide-image img {
    margin: 10px;
    width: 70px;
    object-fit: cover;
    /* position: absolute; */
    /* margin-left: 265px; */

}

.product-detail-button {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.product-detail-button button {
    width: 200px;
}

.product-detail-star {
    display: flex;
}
.product-detail-reviews-amount {
    margin-left: 10px;
}
.product-detail-reviews {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-detail-price {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-detail-price p{
    margin-right: 20px;
}

.product-detail-form form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.product-detail-form .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product-detail-form .value-button:hover {
  cursor: pointer;
}

.product-detail-form form #decrease {
  margin-right: -1px;
  border-radius: 8px 0 0 8px;
}

.product-detail-form form #increase {
  margin-left: -1px;
  border-radius: 0 8px 8px 0;
}

.product-detail-form form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.product-detail-form input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 2px;
  width: 60px;
  height: 40px;
  padding-top: 3px;
}

.product-detail-form input[type=number]::-webkit-inner-spin-button,
.product-detail-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.business-info {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.108);
    border-radius: 15px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.business-info-tab-1{
    display: flex;
    margin: auto;
    width: 40%;
    height: 80%;
    border-radius: 15px;
    
}

.business-info-tab-1 div{
    align-self: center;
}

.business-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.business-info-address {
    width: 400px;
    margin-left: 20px;
    align-self: center;
}
.business-info-address p{
    padding-bottom: 10px;
}

.business-info-tab-2{
    margin: auto;
    width: 0.3%;
    height: 70%;
    border-radius: 10px;
    background-color: gray;
}

.business-info-tab-3{
    margin: auto;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.business-info-tab-3 .display-flex{
    display: flex;
    margin: 20px;
}

.business-info-tab-3 .display-flex p{
    margin-left: 10px;
}

.business-info-tab-3-left{
    align-self: center;
    
}

.business-info-tab-3-right{
    align-self: center;
    width: 250px;
}

.product-description {
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.108);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}

.product-description-title p{
    padding-top: 10px;
    text-align: center;
}

.product-description-flex{
    padding: 20px;
    display: flex;
}

.product-description-flex p{
    width: 15%;
}

.product-description-flex h5{
    width: 80%;
}

.review-to-scroll {
    position: absolute;
    margin-top: -120px;
}

.review-product {
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.108);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;   
}

.review-product .more-review {
    justify-content: space-evenly;
    display: flex;
    margin-top: 50px;
}


.review-detail {
    display: flex;
    margin-top: 40px;
    padding-left: 20px;
}

.review-detail h4{
    margin-bottom: 5px;
}

.review-detail h5{
    margin-top: 5px;
    margin-bottom: 20px;
}


.review-detail img{
    width: 50px;
    height: 50px;
}

.review-detail .review-detail-description{
    margin-left: 20px;
    width: 90%;
}